.card-animation{
    transition: all 0.15s ease-in;
    cursor: pointer;
}

.card-animation:hover{
    transform: scale(1.05);
}

.search-results{
    transition: all 0.2s ease-in;
    visibility: hidden;
    opacity: 0;
    top: calc(100% + 10px);
    z-index: 2;
}

.search-results.active{
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.content-searching, .content-result{
    transition: all 0.2s ease-in;
    visibility: hidden;
    opacity: 0;
}

.content-searching.active, .content-result.active{
    visibility: visible;
    opacity: 1;
}

.img-cover{
    object-fit: cover;
}